@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(lightblue, #40e0d0, #ffae37);
}

.cabecalho, .secao, .rodape {
    margin: 15px 20px;
}

.lista {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.menu__lista {
    width: 60%;
    margin: 0 auto;
}

.menu__item__link {
    font-size: 20px;
    color: black;
    font-weight: bolder;
    text-decoration: none;
}



.titulo__principal {
    color:rgb(16, 160, 141);
}

.titulo, h2, .banner h3 {
    text-align: center;
    width: 100%;
    padding-top: 15px;
}

.subtitulo, h3 {
    margin: 15px 0;
}

.titulo__livro {
    margin-bottom: 40px;
    font-size: 36px;
    color: rgb(12, 40, 251);
    font-family: 'Great Vibes', cursive;
}

.banner {
    color: white;
    width: 800px;
    height: 800px;
    margin: 25px auto;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.secao {
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: space-around;
}

.subtitulo__livro {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

p, .personagens__personagem {
    line-height: 1.8;
    font-size: 18px;
}
.imagem {
    width: 40%;
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sinopse, .personagens {
    width: 50%;
    text-align: justify;
    margin-bottom: 20px;
}

.personagens {
    padding-top: 15px;
}

.rodape {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
span {
    font-size: 18px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.negrito {
    font-weight: bold;
}

    
.rodape a {
    text-decoration: none;
    color: black;
}